<div class="card">
    <div class="card-body">
      <h5 class="card-title">Aggiornamento utente con Id: {{id}}</h5>
      <form [formGroup]="formGroup">
        <!-- Id input -->
        <!-- <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="form1Example1">Id</label>
          <input type="text" id="form1Example1" class="form-control" formControlName="id" readonly/>
        </div> -->
      
        <!-- Nome input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="form1Example2">Nome</label>
          <input type="text" id="form1Example2" class="form-control" formControlName="nome"/>
        </div>
      
        <!-- Cognome input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="form1Example2">Cognome</label>
          <input type="text" id="form1Example2" class="form-control" formControlName="cognome"/>
        </div>
      
        <!-- Eta input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="form1Example2">Eta</label>
          <input type="text" id="form1Example2" class="form-control" formControlName="eta"/>
        </div>
      
        <div class="row">
          <app-button [text]="text" (buttonClick)="aggiungiModificaUser()"></app-button>
        </div>
         
      </form>
      
    </div>
  </div>