<div class="container mt-5">
  <div class="card mb-3">
    <img class="card-img-top" [src]="userApi.data.avatar" alt="Card image cap" style="width: 500px; height: auto;">
    <div class="card-body">
      <h5 class="card-title">{{userApi.data.first_name}}</h5>
      <h5 class="card-title">{{userApi.data.last_name}}</h5>
      <p class="card-text">{{userApi.data.email}}</p>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem mollitia dolorum accusantium voluptas voluptatem quos explicabo, quaerat repudiandae cupiditate consequatur a alias, nobis delectus et sapiente quo, quisquam cum! Quo!</p>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem mollitia dolorum accusantium voluptas voluptatem quos explicabo, quaerat repudiandae cupiditate consequatur a alias, nobis delectus et sapiente quo, quisquam cum! Quo!</p>

    </div>
  </div>

<app-button (buttonClick)="goBack()" text="Torna Indietro"></app-button>
</div>